@using BOL
@model Employee

<h1>@ViewData["Title"]</h1>
<div>
    <form method="post" action="/home/register">
        <div class="form-group">
            <label for="id">Id:</label>
            <input type="text" class="form-control" id="id" name="id" asp-for="Id">
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" asp-for="Name">
        </div>
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" name="email" asp-for="Email">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" asp-for="Password">
        </div>

        <button type="submit" name="btn" class="btn btn-default">Submit</button>
    </form>

</div>
